body{
    background-color: darkgreen;
}

header{
    color:gold;
    text-align: center;
    font-size: 18px;
}

h1{
    color:white;
    text-align:center;
}

p{
    font-size: 20px;
    color:white;
}

h2{
    color: white;
}

head{
    color:white;
}
a:link{
    color: gold;
    text-decoration:none;
}

a:visited{
    color: gold;
}

a:hover{
    color:white;
    text-decoration:underline;
    font-size: larger;

}

li::marker{
    color: gold;
}

.footer-imgs{
    border:0;
    width:88px;
    height:31px;
}

.center{
    border-radius:8px;
    max-width: 45%;
    max-height: 45%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.name {
    text-align: center;
}
