<footer>
    <nav class="footer-links">
        <ul>
            <li><a href="https://webpages.charlotte.edu/mashton1/" target="blank">UNCC Home Page</a></li>
            <li><a href="https://github.com/graceashton3" target="blank">GitHub</a></li>
            <li><a href="https://graceashton3.github.io" target="blank">GitHub.io</a></li>
            <li><a href="https://graceashton3.github.io/itis3135" target="blank">ITIS3135.io</a></li>
            <li><a href="https://www.freecodecamp.org/graceashton3" target="blank">FreeCodeCamp</a></li>
            <li><a href="https://www.codecademy.com/profiles/grace_ashton3" target="blank">Codecademy</a></li>
            <li><a href="https://www.linkedin.com/in/grace-ashton-967726299/" target="blank">LinkedIn</a></li>
        </ul>
    </nav>
    <p>Page designed by <a href="Ashton-Designs.co/"><strong>Ashton Designs</strong> &copy; <span id="year"></span></a>
    <i>, Certified in <a href ="https://freecodecamp.org/certification/graceashton3/responsive-web-design">Responsive Web Design</a></i>
    <i>, <a href ="https://www.freecodecamp.org/certification/graceashton3/javascript-algorithms-and-data-structures-v8">Certified in JS</a></i></p>
<!--HTML & CSS Validation Buttons-->
    <div class="footer-imgs">
        <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
        <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
        <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
        </a>
    </div>
</footer>