<nav>
    <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="graceful-alpaca/index.html">Graceful Alpaca Skates</a>
    ||
    <a href="project_overview.html">Project Overview</a>
    ||
    <a href ="project/index.html">Bridge To Abilities</a>
</nav>
<nav class="navigation">
    <a href="stuff/MY%20CRApY%20PaGe%20@25.htm">My Crappy Page</a>
    ||
    <a href="website_evaluations.html">Website Evaluations</a>
    ||
    <a href="hobby/index.html">Hobby</a>
    ||
    <a href ="tables.html">Tables</a>
    ||
    <a href ="byo_intro.html">BYO Intro</a>
    ||
    <a href ="slideshow.html">SlideShow</a>
    ||
    <a href="review1.html">Review 1</a>
    ||
    <a href="review2.html">Review 2</a>
</nav>